@font-face {
  font-family: "iconfont"; /* Project id 3540848 */
  src: url('iconfont.woff2?t=1658737238569') format('woff2'),
       url('iconfont.woff?t=1658737238569') format('woff'),
       url('iconfont.ttf?t=1658737238569') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chongzhi:before {
  content: "\e65c";
}

.icon-shoujichongzhi:before {
  content: "\e6c8";
}

.icon-wifidianhuaqia:before {
  content: "\e894";
}

.icon-qiye:before {
  content: "\e91d";
}

.icon-F_round:before {
  content: "\e632";
}

.icon-zhong:before {
  content: "\e613";
}

.icon-youjiantou:before {
  content: "\e60b";
}

.icon-search:before {
  content: "\e7b3";
}

.icon-htmal5icon31:before {
  content: "\e643";
}

.icon-gongju:before {
  content: "\e614";
}

.icon-gouwuche:before {
  content: "\e634";
}

.icon-shouji:before {
  content: "\e600";
}

.icon-jurassic_user:before {
  content: "\e6a4";
}

